<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавление новой статьи</title>
</head>
<body>
    <form th:action="${'/blog/add'}" method="post">
        <input type="text" name="title" placeholder="Введите название статьи">
        <input type="text" name="anons" placeholder="Введите анос статьи">
        <textarea name="full_text" placeholder="Введите текст статьи"></textarea><br>
        <button type="submit">Добавить статьи</button>
    </form>
</body>
</html>