<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Пользователи</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body style="background-color: #D1E8E2">
<div th:insert="blocks/header">
</div>
<h1 style="text-align: center">Все пользователи</h1>
<a style="margin-left: 10px" href="/user/filter">Поиск пользователей</a>
<a style="margin-left: 10px" href="/user/add">Добавить пользователя</a>

<table style="background-color: #FFCB9A" class="table">
  <div th:each="el : ${users}">
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th></th>
  </tr>
  <tr>

    <th><h5 th:text="${el.secondName}" ></h5></th>
    <th><h5 th:text="${el.firstName}"></h5></th>
    <th><h5 th:text="${el.middleName}"></h5></th>
    <th><a th:href="'/user/' + ${el.id}">Подробнее</a></th>

  </tr>
  </div>
</table>

</body>
</html>