<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body style="background-color: #D1E8E2">
<div th:each="el : ${user}">
    <form style="text-align: center" th:object="${user}" method="post">
        <input style="margin-top: 10px" type="text" th:field="*{firstName}" th:value="${user.getFirstName()}" name="firstName" placeholder="Введите имя">
        <div style="color: red" th:if="*{#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div><br>
        <input style="margin-top: 10px" type="text" th:field="*{secondName}" th:value="${user.getSecondName()}" name="secondName" placeholder="Введите фамилию">
        <div style="color: red" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></div><br>
        <input style="margin-top: 10px" type="text" th:field="*{middleName}" th:value="${user.getMiddleName()}" name="middleName" placeholder="Введите отчество">
        <div style="color: red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div><br>
        <input style="margin-top: 10px" type="data" th:field="*{birthday}" th:value="${user.getBirthday()}" name="birthday" placeholder="Введите рождения">
        <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div><br>
        <input style="margin-top: 10px" type="number" th:field="*{passportSeries}" th:value="${user.getPassportSeries()}" name="passportSeries" placeholder="Введите серию паспорта">
        <div style="color: red" th:if="${#fields.hasErrors('passportSeries')}" th:errors="*{passportSeries}"></div><br>
        <input style="margin-top: 10px" type="number" th:field="*{passportNumber}" th:value="${user.getPassportNumber()}" name="passportNumber" placeholder="Введите номер паспорта">
        <div style="color: red" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}"></div><br>
        <button style="margin-top: 10px" type="submit" class="btn btn-warning">Изменить пользователя</button>
    </form>
</div>
</body>
</html>